@function color($color: "prm", $alpha: 1) {
  @return rgba(var(--r-#{$color}), $alpha);
}

:root {
  --r-prm: 50, 215, 75;
  --r-second: 230, 97, 2;
  --r-red: 255, 45, 85;
  --r-green: 52, 199, 89;
  --r-yellow: 255, 204, 0;
  --r-orange: 255, 149, 0;
  --r-blue: 0, 122, 255;
  --r-b1: 229, 229, 234;
  --r-b2: 242, 242, 247;
  --r-text: 18, 18, 18;
  --r-disabled: 116, 125, 140;
  --r-hover: 140, 140, 140;
  --r-border-color: 60, 60, 60;
  --r-shadow-alpha: 0.2;

  --r-radius: 4px;
  --r-radius-2: 8px;
  --r-space-1: 4px;
  --r-space-2: 8px;
  --r-space-3: 16px;
  --r-space-4: 22px;
  --r-space-5: 48px;
  --r-space-6: 68px;
  --r-normal-padding: 12px 20px;
  --r-font-large: 1.18rem;
  --r-font-xlarge: 1.375rem;
  --r-font-xxlarge: 2.125rem;
  --r-font-small: 0.86rem;
  --r-font-xsmall: 0.74rem;
  --r-border-width: 1px;
  --hover-alpha: 0.3;
  --r-duration: 0.2s;
  --light-alpha: 0.2;
  --info-alpha: 0.8;
  --disabled-alpha: 0.8;
  --border-alpha: 0.2;
  --border-active-alpha: 0.4;

  // shadows & borders
  --shadow: 0px 2px 6px -2px rgba(var(--r-shadow-color), var(--r-shadow-alpha));
  --border: 0 0 0 var(--r-border-width) rgba(var(--r-border-color), var(--border-alpha));
  --border-active: 0 0 0 var(--r-border-width) rgba(var(--r-border-color), var(--border-active-alpha));
  --popup-underlay-opacity: 0.2;
}
.dark {
  --r-gray: 22, 27, 33;
  --r-b1: 17, 17, 19;
  --r-b2: 21, 21, 23;
  --r-b3: 35, 35, 37;
  --r-b4: 72, 72, 74;
  --r-b5: 99, 99, 102;
  --r-white-black: 255, 255, 255;
  --r-text: 242, 242, 247;
  --r-text-2: 229, 229, 234;
  --r-text-3: 209, 209, 214;
  --r-text-4: 199, 199, 204;
  --r-text-5: 174, 174, 178;
  --r-disabled: 142, 142, 147;
  --r-hover: 180, 180, 180;
  --r-border-color: 72, 72, 74;

  --shadow: 0px 2px 6px -2px rgba(var(--r-shadow-color), var(--r-shadow-alpha));
  --border: 0 0 0 1px rgba(var(--r-border-color), var(--border-alpha));
  --border-active: 0 0 0 1px rgba(var(--r-border-color), var(--border-active-alpha));
  --popup-underlay-opacity: 0.5;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-x-scroll-bar,
.scrollbar {
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    display: block;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(gray, 0.3);
    border-radius: 5px;
  }
}
